/* <style> */

div.sample_popup { z-index: +1; }

div.sample_popup div.menu_form_header
{
  border: 1px solid black;
  border-bottom: 0px;

  cursor: default;

  width: 350px;

  height:      20px;
  line-height: 19px;
  vertical-align: middle;

  /*background: url('/scm/form_header.png') no-repeat;*/
  background: lightsteelblue;

  text-decoration: none;
  font-family: "Verdana", Serif;
  font-weight: 900;
  font-size: x-small;
  color: black;
}

div.sample_popup div.menu_form_body
{
  border: 1px solid black;
  width: 330px;
  /*background: url('/scm/form.png') no-repeat left bottom;*/
  background: cornsilk;
}

div.sample_popup img.menu_form_exit
{
  float: right;
  margin: 4px 5px 0px 0px;
  cursor: pointer;
}

div.sample_popup table
{
  border-collapse: collapse;
  width: 100%;
}

div.sample_popup th
{
  width: 1%;
  padding: 0px 5px 1px 0px;

  text-align: left;

  font-family: "Verdana", Serif;
  font-size: xx-small;
  color: black;
}

div.sample_popup td
{
  width: 99%;
  padding: 0px 0px 1px 0px;
}

div.sample_popup form
{
  margin: 0px;
  padding: 8px 10px 10px 10px;
}

div.sample_popup input.field
{
  border: 1px solid #808080;
  width: 80%;
  font-family: Arial, Sans-Serif;
  font-size: 12px;
}

div.sample_popup input.btn
{
  margin-top: 2px;
  border: 1px solid #808080;
  background-color: lightgray;
  font-family: Verdana, Sans-Serif;
  font-size: 11px;
}
